.timer {
  display: none;
}
@media screen and (min-width: 1024px) {
  .timer {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: absolute;
    right: 42px;
    bottom: 42px;
  }
}
.circular__progress {
  transform: rotate(-90deg);
}

.circle__background {
  fill: none;
  stroke: var(--ui-white);
  opacity: 50%;
  stroke-width: 2;
}

.circle__fill {
  fill: none;
  stroke: var(--ui-white);
  stroke-width: 2;
}
