.timer {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.circular__progress {
  transform: rotate(-90deg);
}

.circle__background {
  fill: none;
  stroke: var(--ui-white);
  opacity: 50%;
  stroke-width: 2;
}

.circle__fill {
  fill: none;
  stroke: var(--ui-white);
  stroke-width: 2;
}
