.nav__burger {
  width: 32px;
  height: 32px;
  background-image: url('../../../public/images/burger.svg');
  background-position: center;
  background-size: 32px;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav__burger {
    filter: invert(1);
  }
}

@media screen and (min-width: 1024px) {
  .nav__burger {
    display: none;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 260px;
  background-color: var(--ui-white);
  z-index: 800;
  padding: 24px 20px 104px 24px;
}

@media screen and (max-width: 1023px) {
  .nav {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    width: 330px;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    position: static;
    min-height: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: auto;
  }
}

.nav__opened {
  transform: translate(0);
}

.nav__close {
  width: 14px;
  height: 14px;
  background-image: url('../../../public/images/close_button.svg');
  background-position: center;
  background-size: 14px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-bottom: 8px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .nav__close {
    display: none;
  }
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 1024px) {
  .nav__list {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .nav__list_item {
    position: relative;
  }
}

.nav__list_item:hover .nav__submenu {
  display: flex;
  flex-direction: column;
}

.nav__submenu {
  width: 100%;
  list-style-type: none;
  /* padding-left: 12px; */
}

.nav__submenu_list_item {
  width: 100%;
  color: #111;
  height: fit-content;
}

.nav__submenu_link {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  padding: 8px 14px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.nav__submenu_list_item:hover {
  background-color: #f1f1f1;
}

/* SUBMENU */
@media screen and (min-width: 1024px) {
  .nav__submenu {
    padding: 8px 0;
    display: none;
    position: absolute;
    top: 110%;
    background-color: var(--ui-white);
    width: auto;
    overflow: hidden;
    border: 1px solid #f3f3f4;
    border-radius: 15px;
    box-shadow: 0px 14px 24px 0px rgba(51, 51, 51, 0.12), 0px 4px 4px 0px rgba(51, 51, 51, 0.04);
  }

  .nav__submenu_list_item {
    color: #111;
    padding: 8px 0;
    height: fit-content;
  }

  .nav__submenu_list_item:hover {
    background-color: #f1f1f1;
  }

  .nav__submenu_link {
    white-space: nowrap;
    padding: 8px 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .nav__submenu_link:hover {
    padding: 8px 16px;
  }
}

.nav__link {
  color: #575757;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

@media screen and (min-width: 1024px) {
  .nav__link {
    color: #575757;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding: 6px 16px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .nav__link {
    color: #575757;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
  }
}

.nav__link:hover {
  background: #f3f3f4;
}

.nav__button {
  margin-top: auto;
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-gilroy);
  background-color: var(--ui-orange);
  border: 1px solid var(--ui-orange);
  outline: none;
  color: var(--ui-white);
  border-radius: 24px;
  padding: 12px 24px;
}

@media screen and (min-width: 1024px) {
  .nav__button {
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    color: var(--ui-orange);
    border: 1px solid var(--ui-orange);
    border-radius: 24px;
    padding: 12px 24px;
    margin-left: 24px;
  }
}
