:root {
  --ui-orange: #ff9514;
  --ui-white: #fff;
  --ui-black: #000;
  --ui-darkgray: #111;
  --ui-secondarytext: #333;
  --ui-activegray: #575757;
  --ui-menuhover: #f1f1f1;
  --ui-forminputbcg: #f3f3f4;
  --ui-socialborder: #828282;
  --ui-rangetrack: #e1e1e1;
  --ui-activeorange: #ffa83d;
  --ui-inputhover: #eaeaeb;
  --ui-arrowhover: #ffffff65;
  --ui-arrowactive: #ffffff89;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

#portals {
  position: relative;
  z-index: 2000;
}

body {
  font-family: var(--font-gilroy);
}

a {
  color: inherit;
  font-family: var(--font-gilroy);
  text-decoration: none;
}
