:root {
  --ui-orange: #ff9514;
  --ui-white: #fff;
  --ui-darkgray: #111;

  --ui-activegray: #575757;
  --ui-activeorange: #ffa83d;
  --ui-inputhover: #eaeaeb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

#portals {
  position: relative;
  z-index: 2000;
}

body {
  font-family: var(--font-gilroy);
}

a {
  color: inherit;
  font-family: var(--font-gilroy);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
