.header {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 50;
  background-color: var(--ui-black);
  top: 0;
}
@media screen and (min-width: 768px) {
  .header {
    background-color: var(--ui-white);
  }
}
.header__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
    padding: 16px 36px;
    background-color: transparent;
  }
}
@media screen and (min-width: 1024px) {
  .header__container {
    padding: 24px 48px;
    overflow: visible;
  }
}

.header__left {
}

@media screen and (min-width: 768px) {
  .header__left {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .header__left {
    gap: 17px;
  }
}
.header__logo {
  color: #ff9514;
  font-family: var(--font-nekst);
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  user-select: none;
}

.header__logo_accent {
  color: var(--ui-white);
}
@media screen and (min-width: 768px) {
  .header__logo_accent {
    color: var(--ui-black);
  }
}

.header__description {
  display: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .header__description {
    display: inline;
    height: 30px;
    padding-left: 17px;
    border-left: 1px solid rgba(17, 17, 17, 0.5);
    color: rgba(17, 17, 17, 0.5);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.92px;
    text-transform: lowercase;
  }
}
