.banner {
}

.slider {
  position: relative;
  border-radius: 0px 0px 32px 32px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .banner {
    padding: 0 36px;
    margin-top: 80px;
  }
  .slider {
    border-radius: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    padding: 0 48px;
  }
}

.slider__control {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  margin-bottom: 24px;
}
